<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="from"><br>
        <input type="text" name="to" placeholder="to"><br>
        <textarea name="msg"placeholder="type your message"></textarea>
     <br>   <button>create new chat</button>
    </form>

</body>
</html>